<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sudoku main page</title>
    <style type="text/css">
        .head{
            margin:0 auto 0;
            border: solid;
            align-content: center;
        }
        .main_menu{
            margin:0 auto;
            text-align: center;
        }

    </style>
</head>
<body>
<div class="main_menu">
    <h1>Sudoku menu</h1>
    <h3><a href="{% url 'show_puzzle_url' %}">Resume puzzle</a></h3>
    <h3><a href="{% url 'new_random_puzzle_url' %}">New random puzzle</a></h3>
    <h3><a href="/sudoku/puzzle/empty">New empty puzzle </a></h3>
    <h3><a href="/sudoku/puzzle/load">Load base tables</a></h3>
</div>

</body>
</html>